<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quicky.demo.mapper.SysPermissionVoMapper">

	<select id="getPerlist" parameterType="com.quicky.demo.entity.SysPermissionVo" resultType="com.quicky.demo.entity.SysPermissionVo">

		SELECT
		b.id perid, c.id roleid, e.id userid,
		b.`code`,b.`name`,b.type,b.url,b.sort,b.pid,c.rolecode,c.rolename,e.`password`,e.salt,e.usercode,e.username
		from sys_role_permission a
		LEFT JOIN sys_perission b on a.syspermissionid = b.id
		LEFT JOIN sys_role c on a.sysroleid = c.id
		LEFT JOIN sys_user_role d on d.sysroleid = c.id
		LEFT JOIN sys_user e on e.id = d.sysuserid
		where e.id = #{userid}

	</select>



</mapper>