<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quicky.demo.entity.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.quicky.demo.entity.SysRole">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="rolecode" property="rolecode" jdbcType="VARCHAR" />
		<result column="rolename" property="rolename" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="getByid"  resultMap="BaseResultMap">
		select * from sys_role where id = #{id}
	</select>
	
	
	
</mapper>