<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quicky.demo.entity.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.quicky.demo.entity.SysUserRole">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="sysuserid" property="sysuserid" jdbcType="BIGINT" />
		<result column="sysroleid" property="sysuserid" jdbcType="BIGINT" />
	</resultMap>
	
	<select id="getRoleList"  resultType="com.quicky.demo.entity.SysUserRole">
		select * from sys_user_role where sysuserid = #{sysuserid}
	</select>
	
	
</mapper>